<div class="right-nav">

    <div class="right-head">
        <button class="upload-btn"><i class="fa-solid fa-arrow-up-from-bracket"></i> New Upload</button>
        <i class="fa-regular fa-bell"></i>
        <div>
            <h6>The Mad</h6>
            <p style="font-size: 10px;">Designer</p>
            
        </div>
        <img style="width: 40px; height: 40px; border-radius: 4px;" src="https://i.postimg.cc/PJp6BT4G/sayed.jpg" alt="">
    </div>


    <div class="notification">
        <h3>Notification</h3>

        <ul class="rightnav-nav">
            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><i class="fa-regular fa-heart" style="color: #ff0000;"></i></i>
                    <span class="rightnav-nav-text">Zubyr butt liked Application Design
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>

                </a>
            </li>

            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><i class="fa-solid fa-book-open" style="color: #5abce9;"></i></i>
                    <span class="rightnav-nav-text">2 new items Submitted
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                </a>
            </li>

            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><i class="fa-solid fa-message" style="color: #36d382;"></i></i>
                    <span class="rightnav-nav-text">Brady Cha Comment on your Course
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                </a>
            </li>

            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><i class="fa-solid fa-chart-column" style="color: #ca2fbe;"></i></i>
                    <span class="rightnav-nav-text">100+ vistor visit your profile
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                </a>
            </li>

            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><i class="fa-solid fa-arrow-trend-up" style="color: #ff0000;"></i></i>
                    <span class="rightnav-nav-text">Machine learing course got 5 scales
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                </a>
            </li>
        </ul>
    </div>



    <div class="top-courses">
        <h3>Top Performing Courses</h3>

        <ul class="rightnav-nav">
            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><img
                            style="width: 40px; height: 40px; border-radius: 4px; margin-top: 6px;"
                            src='https://i.postimg.cc/qMMk9Yfm/arfan.jpg' border='0' alt='sayed' /></i>
                    <span class="rightnav-nav-text">Adobe XD Part 1
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                    <i class="rightnav-nav-icon"><i class="fa-solid fa-chart-column" style="color: #ca2fbe;"></i></i>
                </a>
            </li>
        

        
            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><img
                            style="width: 40px; height: 40px; border-radius: 4px; margin-top: 6px;"
                            src='https://i.postimg.cc/PJp6BT4G/sayed.jpg' border='0' alt='sayed' /></i>
                    <span class="rightnav-nav-text">Adobe XD Part 2
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                    <i class="rightnav-nav-icon"><i class="fa-solid fa-chart-column" style="color: #ca2fbe;"></i></i>
                </a>
            </li>
        

        
            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><img
                            style="width: 40px; height: 40px; border-radius: 4px; margin-top: 6px;"
                            src='https://i.postimg.cc/qMMk9Yfm/arfan.jpg' border='0' alt='sayed' /></i>
                    <span class="rightnav-nav-text">Learn Entrepreneurship
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                    <i class="rightnav-nav-icon"><i class="fa-solid fa-chart-column" style="color: #ca2fbe;"></i></i>
                </a>
            </li>
        


        
            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><img
                            style="width: 40px; height: 40px; border-radius: 4px; margin-top: 6px;"
                            src='https://i.postimg.cc/qMMk9Yfm/arfan.jpg' border='0' alt='sayed' /></i>
                    <span class="rightnav-nav-text" >Financial Analyst Course
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                    <i class="rightnav-nav-icon"><i class="fa-solid fa-chart-column" style="color: #ca2fbe;"></i></i>
                </a>
            </li>
        

        
            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><img
                            style="width: 40px; height: 40px; border-radius: 4px; margin-top: 6px;"
                            src='https://i.postimg.cc/PJp6BT4G/sayed.jpg' border='0' alt='sayed' /></i>
                    <span class="rightnav-nav-text">Adobe XD Part 2
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                    <i class="rightnav-nav-icon"><i class="fa-solid fa-chart-column" style="color: #ca2fbe;"></i></i>
                </a>
            </li>
        

        
            <li class="rightnav-nav-item">
                <a class="rightnav-nav-link" >
                    <i class="rightnav-nav-icon"><img
                            style="width: 40px; height: 40px; border-radius: 4px; margin-top: 6px;"
                            src='https://i.postimg.cc/qMMk9Yfm/arfan.jpg' border='0' alt='sayed' /></i>
                    <span class="rightnav-nav-text">Learn Entrepreneurship
                        <div style="font-size: 10px; color: gray;">Lorem, ipsum dolor.</div>
                    </span>
                    <i class="rightnav-nav-icon"> <img  src="https://i.postimg.cc/pXjdMcTR/Screenshot-2023-05-23-183641.png" style="width: 30px; height: 30px;" alt=""></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="balance">
        <h3>Your Balance</h3> <br><br>

        <div class="box1">
            <div>
                <h4>$572.80</h4>
                <p></p>
            </div>
            <i class="fa-sharp fa-solid fa-arrow-right" style="color: #ff0000;"></i>
        </div>
        <br>

        <div class="box2">
            <div>
                <h4>$72.80</h4>
                <p></p>
            </div>
            <i class="fa-sharp fa-solid fa-arrow-right" style="color: #ca2fbe;"></i>
        </div><br>
        <div class="box3">
            <div>
                <h4>$52.80</h4>
                <p></p>
            </div>
            <i class="fa-sharp fa-solid fa-arrow-right" style="color: #5abce9;"></i>
        </div><br>
        <div class="box4">
            <div>
                <h4>$1022.80</h4>
                <p></p>
            </div>
            <i class="fa-sharp fa-solid fa-arrow-right" style="color: #36d382;"></i>
        </div><br>
        <Button class="withdraw">Make request for WITHDRAW</Button>

    </div>
</div>