<div class="slidenav" >
    <div class="logo-container">
        <button class="logo" >E</button>
        <div class="logo-text" >E-Tech</div>
        <!-- <button class="btn-close" >
            <i class="fal fa-times close-icon"></i>
        </button> -->
    </div>
    <ul class="slidenav-nav" >
        <li class="slidenav-nav-item" >
            <a  class="slidenav-nav-link"
            routerLinkActive="active" >
                <i class="slidenav-nav-icon" ><i class="fa fa-home" aria-hidden="true"></i></i>   
                    <span class="slidenav-nav-text" >Dashboard</span>
                </a>
        </li>
        <li class="slidenav-nav-item" >
            <a  class="slidenav-nav-link"
            routerLinkActive="active" >
                <i class="slidenav-nav-icon" ><i class="fal fa-calendar-alt"></i></i>   
                    <span class="slidenav-nav-text" >My Schedule</span>
                </a>
        </li>
        <li class="slidenav-nav-item" >
            <a  class="slidenav-nav-link"
            routerLinkActive="active" >
                <i class="slidenav-nav-icon" ><i class="fa-solid fa-message"></i></i>   
                    <span class="slidenav-nav-text" >Message</span>
                </a>
        </li>
        <li class="slidenav-nav-item" >
            <a  class="slidenav-nav-link"
            routerLinkActive="active" >
                <i class="slidenav-nav-icon" ><i class="fa-regular fa-circle-play" ></i></i>   
                    <span class="slidenav-nav-text" >My Course</span>
                </a>
        </li>
        <li class="slidenav-nav-item" >
            <a  class="slidenav-nav-link"
            routerLinkActive="active" >
                <i class="slidenav-nav-icon" ><i class="fa-solid fa-arrow-trend-up"></i></i>   
                    <span class="slidenav-nav-text" >My Status</span>
                </a>
        </li>
        <li class="slidenav-nav-item" >
            <a  class="slidenav-nav-link"
            routerLinkActive="active" >
                <i class="slidenav-nav-icon" ><i class="fa-solid fa-user-plus"></i></i>   
                    <span class="slidenav-nav-text" >My Account</span>
                </a>
        </li>
    </ul>


<div class="opening-box">

    <div>
        <img class="image" src="https://img.freepik.com/free-vector/grand-opening-coming-soon-flat-design_23-2148271633.jpg" alt="">
    </div>
    <div>
        <button class="subscribtion-btn">Get Subscribtion</button>
    </div>
</div>


</div>